// Default font
@mixin typeface {
    font-family: "Helvetica", Arial, sans-serif;
}

@mixin clearfix() {
    // USAGE: @include clearfix();
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}